body{
	background: #fff;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
	background-image: url(../img/bg1.png);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-bacground-size: cover;
}

#notifications {
	width:25%;
	background: rgba(0,0,0,0.5);
	height:100%;
	padding: 100px 30px 0px 30px;
	
}

#map {
	width: 70%;
	background: #dadada;
	height:100%;
}

#search {
	position: absolute;
	top: 10px;
	left: 10px;
}

#search #lupe {
	cursor: pointer;
	height: 44px;
	width: 44px;
	background-image: url(../img/search.jpg);
	float: left;
	}

#search input[type="text"] {
	float: left;
	height:44; 
	padding:6px 6px 6px 0px;
	border: 2px #cc3e38;
	width: 0;
	background: #e74841;
	transition: all 1s;
}

#search input[type="text"] {
	float: left;
	height:44; 
	padding:6px 6px 6px 0px;
	border: 2px #cc3e38;
	width: 0;
	color: #cc3e38;
	background: #e74841;
	transition: all 1s;
}

#search input[type="text"]:focus {
	border: #cc3e38;
}

.hnotification {
	font-size: 18px;
	color: #e74841;
	text-transform: uppercase;
	line-height:40px;
	float: left;
}

.inotification {
	float:left;
	padding-right: 10px
}

#location {
	float: left;	
}